
<div class="container">
  <div class="row">
    <div class="col-5">

<% @user.profiles.all.reverse.each do |prof|%>
<% if prof.avatar == "" %>
  hi
  <% else %>
    <div id="avatar"><img src="<%= prof.avatar %>"></div>
  <% end %>
  <% end %>


</div>






  <div class="col-7">


      <form action="/profile" method="POST" id="userform">
        <input id="title" type="text" name="title" placeholder="Title"/>
        <input id="image" type="text" name="image" placeholder="Enter Image URL"/>
            <textarea class="content" rows="6" cols="76" name="content" form="userform">
    </textarea>
        <button>Post</button>
    </form>


<% @user.posts.all.reverse.each do |p|%>
 <div class="postss">
 <a id="delete" href="/deletes/<%= p.id %>">𝕏</a>
 <h2><%= p.title %></h2>
<br>


  <% if p.image == "" %>
    <br>
  <% else %>
    <img src="<%= p.image %>">
  <% end %>
<br>
<br>
 <%= p.content %>
 <br>
 <br>
</div>

<% end %>

    </div
  </div>
   </div>








