
<div class="container">
  <div class="row">
    <div class="col-5">
      <div>
        <% @user.profiles.all.reverse.each do |prof|%>
          <% if prof.avatar == "" %>
          <% next %>
          <% else %>
          <div id="avatar"><img src="<%= prof.avatar %>"></div>
          <% end %>
        <% end %>
      </div>
      <div id="profileinfo">
        <% @user.profiles.all.reverse.each do |prof|%>
            <ul>
              <li><%= prof.first_name %></li>
              <li><%= prof.last_name %></li>
              <li><%= prof.birthday %></li>
            </ul>
            <br>
          <section>
          <h2><u>Status</u>:</h2>
          <h3><%= prof.about_me %></h3>
          </section>
        <% end %>
      </div>





</div>







    <div class="col-7">
<% @user.posts.all.reverse.each do |p|%>
 <div class="postss">
 <h2><%= p.title %></h2>
<br>


  <% if p.image == "" %>
    <br>
  <% else %>
    <img src="<%= p.image %>">
  <% end %>
<br>
<br>
 <%= p.content %>
 <br>
 <br>
</div>

<% end %>

    </div
  </div>
   </div>








